.product__carousel {
  height: 194px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c3d46f;
}

.product__carousel-title {
  font-size: 25px;
  background-color: #c3d46f;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
  text-transform: uppercase;
}

.product__carousel-area {
  display: flex;
  border-radius: 5px;
  height: 100%;
}

.product__carousel-img {
  width: 100% !important;
  height: 192px;
  border-radius: 5px;
}

/* ---------- PRODUCT CONTAINER  ---------- */

.filter__container {
  border: 1px solid #c3d46f;
  border-radius: 5px;
}

.product__container {
  border-radius: 5px;
}

/* ---------- FILTER  ---------- */

.filter__area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.filter__area-title {
  width: 100%;
  margin-top: 5px;
  background-color: #c3d46f;
  border-radius: 5px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: baseline;
}

.filter__area-title p {
  font-weight: 600;
  font-size: 20px;
}

.filter__category {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter__category-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  width: 100%;
  cursor: default;
}

.filter__category-title span {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.filter__category-title::before {
  position: absolute;
  width: 100%;
  content: "";
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  border-radius: 5px;
}

.filter__category-title::after {
  position: absolute;
  width: 50%;
  content: "";
  height: 5px;
  left: 25%;
  bottom: 0px;
  border-radius: 5px;
  background-color: #c3d46f;
}

.filter__catergory-content {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter__category-option {
  position: relative;
  color: #000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.filter__category-option:hover {
  color: #000;
}

.filter__category-option::after {
  position: absolute;
  content: "";
  width: 0;
  background-color: transparent;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  border-radius: 5px;
}

.filter__category-option:hover::after {
  animation: coverUp 1.25s linear infinite;
}

.filter__category-option span {
  font-size: 16px;
  text-transform: uppercase;
  z-index: 1000;
  margin-left: 5px;
}

.filter__category-option i {
  font-size: 21px;
  z-index: 1000;
  margin-right: 5px;
}

@keyframes coverUp {
  from {
    width: 0;
    background-color: #c3d46f;
  }
  to {
    width: 100%;
    background-color: #c3d46f;
  }
}

.filter__category-search {
  margin-top: 5px;
  position: relative;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.filter__category-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter__category-input input {
  width: 48%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #c3d46f;
  font-size: 15px;
}

.filter__category-input input:focus {
  outline: none;
}

.filter__category-search button {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border-radius: 5px;
  background-color: #c3d46f;
  border: 1px solid transparent;
}

.filter__category-search button:focus {
  outline: none;
}

/* ---------- PRODUCT  ---------- */

.product__container-area {
  width: 100%;
  border: 1px solid #c3d46f;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1px;
  grid-row-gap: 1px;
  background-color: #c3d46f;
}

.product__container-item {
  position: relative;
  width: 100%;
  height: 378px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.product__container-img {
  width: 100%;
  padding: 10px 10px 0 10px;
  z-index: 1000;
  position: relative;
  height: 180px;
}

.product__container-img img {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 10px);
}

.product__container-sale {
  position: absolute;
  width: 50px;
  height: 30px;
  right: -1px;
  top: 0;
  background-color: #d74949;
  z-index: 1000;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.product__container-content {
  width: 100%;
  height: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
  z-index: 1000;
}

.product__container-rate {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__container-rate span {
  color: #000;
}

.product__container-rate i {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.rated {
  color: #d74949 !important;
}

.product__container-name {
  max-height: 60px;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.product__container-name p {
  color: #000;
  font-size: 13px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__container-price span {
  font-size: 20px;
  color: #d74949;
  font-weight: 600;
}

.product__container-price p {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.product__container-stock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__container-stock span {
  font-size: 18px;
}

.product__container-stock i {
  font-size: 18px;
}

.product__container-item:first-child {
  border-top-left-radius: 5px;
}

.product__container-item:nth-child(4) {
  border-top-right-radius: 5px;
}

.product__container-item:last-child {
  border-bottom-right-radius: 5px;
}

.product__container-item:nth-last-child(4) {
  border-bottom-left-radius: 5px;
}

.product__container-item::after {
  display: none;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(195, 212, 111, 0.5);
  height: 100%;
  animation: slideDown 1s linear;
}

.product__container-item:hover::after {
  display: block;
}

@keyframes slideDown {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
