.footer {
  margin-top: 50px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(219, 176, 168, 1) 0%,
    rgba(11, 200, 159, 1) 100%
  );
}

.footer-container {
  width: 100%;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-title {
  position: relative;
  cursor: default;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(228, 236, 234, 1) 0%,
    rgba(165, 249, 231, 1) 100%
  );
  left: 0;
  bottom: -5px;
  border-radius: 5px;
  display: none;
  animation: widthUp 0.5s;
}

.footer-title:hover::after {
  display: block;
}

@keyframes widthUp {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-desc {
  position: relative;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: baseline;
}

.footer-desc::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(228, 236, 234, 1) 0%,
    rgba(165, 249, 231, 1) 100%
  );
  left: 0;
  bottom: 0;
  border-radius: 5px;
  display: none;
  animation: widthUp 0.5s;
}

.footer-desc:hover::after {
  display: block;
}

.footer-desc a {
  font-size: 16px;
  color: #000 !important;
  cursor: pointer;
}

.footer-icon {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon i {
  font-size: 16px;
}

.footer-name {
  font-size: 16px;
  cursor: default;
}

.footer-last {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
