.header {
  background: linear-gradient(
    90deg,
    rgba(166, 162, 221, 1) 0%,
    rgba(44, 139, 161, 1) 100%
  );
  height: 100px;
  width: 100%;
}

/* ---------- HEADER SCROLL ---------- */

.header-fix {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  animation: scrollReveal 0.25s linear;
}

.header-fix .logo {
  height: 40px;
}

.header-fix svg {
  width: 40px;
  height: 40px;
}

.header-fix .header-search {
  height: 35px;
}

.header-fix .cart {
  flex-direction: row;
  height: 40px;
  width: 150px;
  align-items: center;
}

.header-fix .cart i {
  font-size: 20px;
  margin-right: 5px;
}

.header-fix .cart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 18px;
}

@keyframes scrollReveal {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 50px;
    opacity: 1;
  }
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------- LOGO ---------- */

.logo {
  height: 80px;
}

.logo svg {
  border-radius: 5px;
}

/* ---------- SEARCH ---------- */

.header-search {
  width: 500px;
  height: 50px;
  display: flex;
}

.header-input {
  height: 100%;
  width: 90%;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid transparent;
}

.header-input:focus {
  outline: none;
}

.header-button {
  height: 100%;
  width: 10%;
  background-color: #c3d46f;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button:focus {
  outline: none;
}

.header-button:active {
  color: #746fd4;
}

.header-button i {
  font-size: 20px;
}

/* ---------- CART  ---------- */

.cart {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 100px;
  align-items: center;
}

.cart i {
  color: #e9e9e9;
  font-size: 50px;
}

.cart-title {
  font-size: 20px;
  color: #e9e9e9;
}
