* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body {
  position: relative;
  scroll-behavior: smooth;
}

.rated {
  color: #d74949 !important;
}
